{% extends "layout.html" %} {% block body %}
<div class="container bg-white">
  <div class="row pt-3 mt-5">
    <h1>Trouver la primitive de p(x)</h1>
    <p class="fs-4">
      Ce programme vous permet de trouver la primitive d'un polynome écrit de la forme ax^n + bx^m + c  
    </p>
  </div>
</div>
<div class="container bg-white">
  <div class="row pt-3 mt-5">
    <div class="col-5 d-flex d-flex align-items-center justify-content-end">
      <p class="text-center fs-1">f(x) =</p>
    </div>
    <div class="col-7 d-flex align-items-center">
      <form method="post">
        <div class="form-group">
          <input
            type="text"
            autocomplete="off"
            class="form-control"
            name="polynomial"
            placeholder="Polynome"
          />
        </div>
    </div>
  </div>
  <div class="row pt-3 d-flex">
    <div class="col-5"></div>
    <div class="col-7">
        <button type="submit" class="btn btn-primary">Décomposer</button>
        </form>
    </div>
  </div>
  <div class="row pt-3 mt-5 d-flex">
    <p>Invalid Input</p>
  </div>
</div>
{% endblock %}